.register-container {
  height: 100vh;
  background: linear-gradient(
    135deg,
    var(--primary-blue),
    var(--secondary-blue)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  background: var(--white);
  padding: 40px;
  width: 460px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: fadeIn 0.6s ease-in-out;
}

.logo {
  display: block;
  width: 80px;
  height: auto;
  margin: 0 auto 20px auto;
}

h2 {
  color: var(--primary-blue);
  margin-bottom: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.subtitle {
  color: #777;
  margin-bottom: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.full {
  grid-column: 1 / -1;
}

input, select {
  width: 100%;
  padding: 9px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: 0.3s;
}

input:focus, select:focus {
  border-color: var(--secondary-blue);
  outline: none;
  box-shadow: 0 0 0 2px rgba(28, 93, 117, 0.2);
}

.btn-primary {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: var(--accent-orange);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;

}

.btn-primary:hover {
  background-color: #c9551e;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-secondary {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: white;
  color: #444;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
  margin-top: 7px;
}

.btn-secondary:hover {
  background: #f5f5f5;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.error {
  text-align: left;
  margin-top: 6px;
  font-size: 12px;
  color: #d32f2f;
}

.server-error {
  margin-top: 10px;
  font-size: 13px;
  color: #d32f2f;
  text-align: center;
}

.google-btn {
  width: 100%;
  padding: 12px;
  background-color: white;
  color: #444;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.2s ease;
  margin-top: 10px;
}

.google-btn:hover {
  background-color: #f5f5f5;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.google-btn img {
  width: 20px;
  height: 18px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}