<div class="register-container">
  <div class="register-card">

    <img src="Logo.png" alt="Mar y Mar" class="logo">

    <h2>Crear cuenta</h2>
    <p class="subtitle">Regístrate para disfrutar de nuestros platos</p>

    <form [formGroup]="form" (ngSubmit)="registrar()" autocomplete="off">
      <!-- Identificación -->
      <input
        formControlName="numeroIdentificacion"
        placeholder="Identificación"
        autocomplete="off"
      />
      <div class="error"
          *ngIf="(form.get('numeroIdentificacion')?.touched || formEnviado)
                  && form.get('numeroIdentificacion')?.invalid">
        Campo obligatorio
      </div>

      <!-- Nombre -->
      <input
        formControlName="nombre"
        placeholder="Nombre completo"
        autocomplete="name"
      />
      <div class="error" *ngIf="(form.get('nombre')?.touched || formEnviado) && form.get('nombre')?.invalid">
        Campo obligatorio
      </div>

      <!-- Email -->
      <input
        type="email"
        formControlName="email"
        placeholder="Correo electrónico"
        autocomplete="new-email"
      />
      <div class="error" *ngIf="(form.get('email')?.touched || formEnviado)  && form.get('email')?.invalid">
        <span *ngIf="form.get('email')?.errors?.['required']">Correo obligatorio</span>
        <span *ngIf="form.get('email')?.errors?.['email']">· Formato inválido</span>
        <span *ngIf="form.get('email')?.errors?.['duplicado']">· Ya registrado</span>
      </div>

 <!-- Contraseña -->
<div class="password-container">

  <div class="password-field">
    <input
      [type]="tipoInputPassword"
      formControlName="contrasena"
      placeholder="Contraseña"
      autocomplete="off"
      name="registro_mar_y_mar_password"
      autocapitalize="off"
      spellcheck="false"
      (focus)="mostrarReglasPassword = true"
      (blur)="mostrarReglasPassword = false"
      (input)="activarPassword()"
    />

    <span class="toggle-password" (click)="mostrarPassword = !mostrarPassword">
      <span class="material-symbols-outlined">
        {{ mostrarPassword ? 'visibility_off' : 'visibility' }}
      </span>
    </span>
  </div>

  <div class="password-rules" *ngIf="mostrarReglasPassword">

    <div [class.valid]="cumpleLongitud">
      <span class="material-symbols-outlined rule-icon">
        {{ cumpleLongitud ? 'check_circle' : 'close' }}
      </span>
      Mínimo 6 caracteres
    </div>

    <div [class.valid]="cumpleMayuscula">
      <span class="material-symbols-outlined rule-icon">
        {{ cumpleMayuscula ? 'check_circle' : 'close' }}
      </span>
      Una letra mayúscula
    </div>

    <div [class.valid]="cumpleMinuscula">
      <span class="material-symbols-outlined rule-icon">
        {{ cumpleMinuscula ? 'check_circle' : 'close' }}
      </span>
      Una letra minúscula
    </div>

    <div [class.valid]="cumpleNumero">
      <span class="material-symbols-outlined rule-icon">
        {{ cumpleNumero ? 'check_circle' : 'close' }}
      </span>
      Un número
    </div>

    <div [class.valid]="cumpleSimbolo">
      <span class="material-symbols-outlined rule-icon">
        {{ cumpleSimbolo ? 'check_circle' : 'close' }}
      </span>
      Un símbolo
    </div>
  </div>

</div>
      <!-- Fecha nacimiento -->
      <input
        type="date"
        formControlName="fechaNacimiento"
        [max]="fechaMaxima"
      />
      <div class="error"
          *ngIf="(form.get('fechaNacimiento')?.touched || formEnviado)  && form.get('fechaNacimiento')?.invalid">

        <span *ngIf="form.get('fechaNacimiento')?.errors?.['required']">
          Fecha obligatoria
        </span>

        <span *ngIf="form.get('fechaNacimiento')?.errors?.['fechaFutura']">
          · No puede ser futura
        </span>

      </div>

      <!-- Dirección obligatoria -->
      <input
        formControlName="direccionEnvio"
        placeholder="Dirección de envío"
        autocomplete="street-address"
      />
      <div class="error" *ngIf="(form.get('direccionEnvio')?.touched || formEnviado)  && form.get('direccionEnvio')?.invalid">
        Dirección obligatoria
      </div>

      <div class="checkbox-container">
        <input
          type="checkbox"
          formControlName="aceptaHabeasData"
          id="aceptaDatos"
        />

        <label for="aceptaDatos">
          Acepto la
          <a routerLink="/politica" target="_blank">
            Política de Tratamiento de Datos
          </a>
        </label>
      </div>

      <div *ngIf="(form.get('aceptaHabeasData')?.touched || formEnviado)
                  && form.get('aceptaHabeasData')?.invalid"
          class="error">
        Debes aceptar la política de tratamiento de datos.
      </div>
      <!-- Botón Registrar -->
      <button type="submit" class="btn-primary">
        Registrarse
      </button>

      <!-- Botón ir a login -->
      <button type="button" class="btn-secondary" (click)="irALogin()">
        ¿Ya tienes cuenta? Inicia sesión
      </button>

    </form>

    <div *ngIf="serverError" class="server-error">
      {{ serverError }}
    </div>

  </div>
</div>