<div class="login-container">
  <div class="login-card">

    <img src="Logo.png" class="logo">

    <h2>Nueva contraseña</h2>
    <p class="subtitle">
      Ingresa tu nueva contraseña
    </p>

<form [formGroup]="form" (ngSubmit)="cambiar()">

  <!-- NUEVA CONTRASEÑA -->
  <div class="password-container">

    <input
      [type]="mostrarNueva ? 'text' : 'password'"
      formControlName="newPassword"
      placeholder="Nueva contraseña"
    />

    <span class="material-symbols-outlined toggle-password"
          (click)="mostrarNueva = !mostrarNueva">
      {{ mostrarNueva ? 'visibility_off' : 'visibility' }}
    </span>

  </div>

  <!-- Reglas dinámicas -->
  <div class="password-rules" *ngIf="form.get('newPassword')?.dirty">

    <div [class.valid]="!form.get('newPassword')?.errors?.['required']">
      <span class="material-symbols-outlined rule-icon">
        {{ form.get('newPassword')?.errors?.['required'] ? 'close' : 'check_circle' }}
      </span>
      Obligatoria
    </div>

    <div [class.valid]="!form.get('newPassword')?.errors?.['minlength']">
      <span class="material-symbols-outlined rule-icon">
        {{ form.get('newPassword')?.errors?.['minlength'] ? 'close' : 'check_circle' }}
      </span>
      Mínimo 6 caracteres
    </div>

    <div [class.valid]="!form.get('newPassword')?.errors?.['pattern']">
      <span class="material-symbols-outlined rule-icon">
        {{ form.get('newPassword')?.errors?.['pattern'] ? 'close' : 'check_circle' }}
      </span>
      Mayúscula, minúscula, número y símbolo
    </div>

  </div>

  <!-- CONFIRMAR CONTRASEÑA -->
  <div class="password-container">

    <input
      [type]="mostrarConfirm ? 'text' : 'password'"
      formControlName="confirmPassword"
      placeholder="Confirmar contraseña"
    />

    <span class="material-symbols-outlined toggle-password"
          (click)="mostrarConfirm = !mostrarConfirm">
      {{ mostrarConfirm ? 'visibility_off' : 'visibility' }}
    </span>

  </div>

  <!-- Error si no coinciden -->
  <div class="error"
       *ngIf="form.errors?.['noCoinciden'] && form.get('confirmPassword')?.dirty">
    Las contraseñas no coinciden
  </div>

  <button type="submit" class="btn-primary" [disabled]="form.invalid">
    Cambiar contraseña
  </button>

</form>

    <div *ngIf="error" class="error">
      {{ error }}
    </div>

    <div *ngIf="mensaje" class="success-message">
      {{ mensaje }}
    </div>

  </div>
</div>