<div class="login-container">
  <div class="login-card">

    <img src="Logo.png" class="logo">

    <h2>Recuperar contraseña</h2>
    <p class="subtitle">
      Ingresa tu correo y te enviaremos un enlace
    </p>

    <form [formGroup]="form" (ngSubmit)="enviar()">

      <input
        type="email"
        formControlName="email"
        placeholder="Correo electrónico"
      >

      <button type="submit" class="btn-primary" [disabled]="form.invalid">
        Enviar enlace
      </button>

    </form>

    <div style="margin-top: 8px;">
  <button
    type="button"
    (click)="volverLogin()"
    style="
      width: 50%;
      padding: 12px;
      border-radius: 12px;
      border: none;
      background: #1c5d75;
      font-weight: bold;
      border: none;
      color: #ffff;
      cursor: pointer;
      font-size: 14px;
    "
  >
    Volver al login
  </button>
</div>

    <div *ngIf="mensaje" class="success-message">
      {{ mensaje }}
    </div>

    <div *ngIf="error" class="error">
      {{ error }}
    </div>

  </div>
</div>