<div class="login-container">
  <div class="login-card">

        <img src="Logo.png" alt="Mar y Mar" class="logo" >

    <h2>Bienvenido a Mar y Mar</h2>
    <p class="subtitle">Inicia sesión para continuar</p>

    <form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">

       <input type="text" style="display:none">
      <input type="password" style="display:none">

      <div class="input-group">
        <input 
          type="email" 
          placeholder="Correo electrónico"
          formControlName="email"
          autocomplete="new-email"
        >
        <label>Correo electrónico</label>
      </div>

          <div class="error"
      *ngIf="(form.get('email')?.touched || formEnviado) 
              && form.get('email')?.invalid">

      <span *ngIf="form.get('email')?.errors?.['email']">
        El formato del correo no es válido
      </span>

    </div>

    <div class="password-container">

      <div class="input-group">
        <input
          [type]="mostrarPassword ? 'text' : 'password'"
          placeholder="Contraseña"
          formControlName="contrasena"
          autocomplete="new-password"
        />
        <label>Contraseña</label>
      </div>

      <span class="toggle-password"
            (click)="mostrarPassword = !mostrarPassword">

        <span class="material-symbols-outlined">
          {{ mostrarPassword ? 'visibility_off' : 'visibility' }}
        </span>

      </span>

    </div>
    
    <div class="captcha-container">
      <re-captcha
        #captchaRef
        [siteKey]="siteKey"
        (resolved)="captchaResuelto($event)"
        (expired)="resetCaptcha()">
      </re-captcha>
      </div>

      <button type="submit" class="btn-primary">
        Ingresar
      </button>
    </form>

    <div *ngIf="errorGeneral"
     class="mt-4 p-4 rounded-lg border border-red-300 bg-red-50 text-red-700 text-sm flex items-start gap-3">

  <span class="material-symbols-outlined text-red-600">
    warning
  </span>

  <span>
    {{ errorGeneral }}
  </span>

</div>

    <div *ngIf="error"
        class="mt-4 p-4 rounded-lg border border-red-300 bg-red-50 text-red-700 text-sm flex items-start gap-3 animate-fadeIn">

      <span class="material-symbols-outlined text-red-600">
        warning
      </span>

      <span>
        {{ error }}
      </span>

    </div>
    
    <button class="google-btn" (click)="loginWithGoogle()" >
      <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google" />
      Continuar con Google
    </button>

    <p class="forgot-password" (click)="irARecuperar()">
       ¿Olvidaste tu contraseña?
    </p>

    <button 
      type="button" 
      class="btn-secondary"
      (click)="irARegistro()">
      ¿No tienes cuenta? Regístrate
    </button>
  </div>

  
</div>