.login-container {
  height: 100vh;
  background: linear-gradient(
    135deg,
    var(--primary-blue),
    var(--secondary-blue)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: var(--white);
  padding: 40px;
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: fadeIn 0.6s ease-in-out;
}

.logo {
  width: 120px;
  margin-bottom: 20px;
}

h2 {
  color: var(--primary-blue);
  margin-bottom: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.subtitle {
  color: #777;
  margin-bottom: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: 0.3s;
}

input:focus {
  border-color: var(--secondary-blue);
  outline: none;
  box-shadow: 0 0 0 2px rgba(28, 93, 117, 0.2);
}

.btn-primary {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: var(--accent-orange);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #c9551e;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.google-btn {
  width: 100%;
  padding: 12px;
  background-color: white;
  color: #444;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.google-btn:hover {
  background-color: #f5f5f5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.google-btn img {
  width: 20px;
  height: 18px;
}